<div id="main">
  <div class="container">
    <div class="row">
      <!-- About Me (Left Sidebar) Start -->
      <div class="col-md-3">
        <div class="about-fixed">
          <%= render "feeds/left_bar" %>
        </div>
      </div>
      <div class="col-md-9">
        <div class="col-md-12 page-body">
          <div class="row">
            <div class="sub-title">
              <h3>Related User</h3>
             </div>
            
            <% @user.each do |user| %>
              <div class="col-md-12 blog-post">
                <% if user.photo.attached? %>
                    <%= image_tag(user.photo, style: 'float :left;width:6%') %>
                  <% end %>
                <p>
                  <strong>Email:</strong>
                  <%= user.email %>
                  <div class = "inline" >
                     
                    <% if @user == current_user.friends.include?(user) || current_user.inverse_friends.include?(user) %>
                      
                   
                        
                      <% else %>

                        <%= link_to "Add friend", friendships_path(:friend_id =>user), :method => :post %>
                    <% end %>
                  </div>

                </p>

              </div> 
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
